
body {
    font-family: Arial, sans-serif;
    background-color:gray;
    margin: 0;
    padding: 0;
}

.container {
    height: 700px;
    width: 600px;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    background-color:aquamarine;
    border: 3px solid black;    
}

h1 {
    color: black;
    font-size: 42px;
    
}

label {
    display: block;
    margin-top: 60px;
    font-weight: bold;
    font-size: 30px;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
  
    
}

button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    font-size: 18px;
}

button:hover {
    background-color: #007bff;
}

p {
    font-weight: bold;
    margin-top: 45px;
    font-size: 30px;
    color: black;
}
#result{
    color:red;
}
#result1{
    color: red;
}